<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<title>Eric Heisler</title>

    <link rel="stylesheet" href="/dinky/assets/css/style.css?v=29a3ba0409c7935a0ca6ff45666e7d5f98feb21d">
    <script src="/dinky/assets/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="wrapper">
	  <header>
		<h1 class="header">Eric Heisler</h1>
		<ul>
		  <p class="header"><a class="header name" href="https://github.com/pages-themes">About me</a></p>
		  <p class="header"><a class="header name" href="https://github.com/pages-themes">My projects</a></p>
		</ul>
		
		<SCRIPT TYPE="text/javascript">
		  <!--
			  // protected email script by Joe Maller
			  // JavaScripts available at http://www.joemaller.com
			  // this script is free to use and distribute
			  // but please credit me and/or link to my site
			  
			  emailE=('heisler17@' + 'gmail.com')
			  document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
			  
			  //-->
		</script>
		<NOSCRIPT>
		  <em>Please enable JavaScript to view email address.<BR></em>
		</NOSCRIPT>
	  </header>

	  <section>
	  {{ content }}
      </section>
	  
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
